# Files
*.DS_Store

node_modules
*-error.log*
*-debug.log*
test/unit/coverage
test/e2e/reports
TODO.md

.idea
.vscode

dist

# use this for any files you want ignored, such as Idea.ignored.md
*.ignored.*
